

div.niceimage {
-moz-border-radius-bottomleft:3px;
-moz-border-radius-bottomright:3px;
-moz-border-radius-topleft:3px;
-moz-border-radius-topright:3px;
background-color:#F3F3F3;
border:1px solid #000000;
margin:10px;
padding-top:4px;
text-align:center !important;
display: in block
}

img.niceimage{
border:0 none;
margin:0;
padding:0;
}

p.niceimage{
font-size:11px;
line-height:17px;
margin:0;
padding:0 4px 5px;
width: 90%;
width: inherit
}

